<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Practice</title>
    <link rel = "stylesheet" type = "text/css" href="style.css" >
</head>

<body>
    <div class="container">
        <header> <h1>Website</h1></header>
        
        <nav id = "navbar">
            <div class = "options">
                 <ul>
                     <li> <a href = "/login"> Home </a></li>
                     <li> <a href = "#"> About Us </a></li>
                  </ul>        
             
            </div>
        </nav>
        
        <main>
            <form class = "submission">
                <h1>Log In</h1>
                <label for= "name">Name</label>
                <input type = "text" id="name">
    
                <label for= "password">Password</label>
                <input type= "text" id="password">
                <input type="submit" value="Submit" id="send">

                <h2>Don't have an account yet? Sign up <a href = "/register">here</a>!</h2>
        </main>
            </form>

            
        <footer> </footer>
    </div>
    
</body>

</html>

