<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel = "stylesheet" type = "text/css" href="sign up style.css" >
</head>

<body>
    <div class="container">
        <header> <h1>Practice</h1></header>
        
        <nav id = "navbar">
            <div class = "options">
                 <ul>
                     <li> <a href = "home.ejs"> Home </a></li>
                     <li> <a href = "#"> About Us </a></li>
                  </ul>        
             
            </div>
        </nav>
        
        <main>
            <form class = "submission">
                <h1>Sign Up</h1>
                <label for= "name">Name</label>
                <input type = "text" id="name" name="user">
    
                <label for= "password">Password</label>
                <input type= "text" id="password" name="pass">
                <input type="submit" value="Submit" id="send">
  				<script src="client.js"></script>
                <h2>Already have an account? Log in <a href = "/login">here</a>!</h2>
            </form>
        </main>
            

            
        <footer> </footer>
    </div>
    
</body>

</html>